@model IEnumerable<ADONETWithSqlServerMVCApp.Models.EmployeeAccessLayer>
@{
    ViewBag.Title = "Dummy Page";
}

<div class="row" style="padding-top: 15px; margin-top: 15px;">
    <table class="table table-bordered table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>BOD</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Emp_id</td>
                    <td>@employee.First_name</td>
                    <td>@employee.Last_name</td>
                    <td>@employee.Birth_day</td>
                    <td>@employee.Salary</td>
                </tr>
            }

        </tbody>
    </table>
</div>